/*
    Color Palette:
        #f3f4ed
        #eeb76b
        #e2703a
        #9c3d54
        #310b0b
*/

html {
    background: #f3f4ed;
    color: #1f1f1f;
    font-family: 'Noto Sans HK', sans-serif;
}

body {
    text-align: center;
    margin: 0;
}

.detail {
    font-style: italic;
}

.red-section {
    padding: 5%;
    background: #310b0b;
    color: #f3f4ed;
}

#sketch-holder {
    margin: 0;
}