/*
    Color Palette:
        #f3f4ed
        #eeb76b
        #e2703a
        #9c3d54
        #310b0b
*/

html {
    background: #f3f4ed;
    color: #310b0b;
    font-family: 'Noto Sans HK', sans-serif;
}

footer {
    background: #eeb76b;
    color: #9c3d54;
    text-align:center;
    font-size: small;
    padding: 1em;
}

a {
    color: #e2703a;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color:#26abff;
}

hr {
    height: 0;
}

body {
    text-align: center;
    margin: 0;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 0 1em 0;
    box-shadow: 0 5px 5px rgb(0, 0, 0, .5);
    background: #9c3d54;
}

.header-right {
    text-align: right;
    padding: 0 1em 0 1em;
}

.header-left {
    text-align: left;
    padding: 0 1em 0 1em;
}

.header-item {
    color: #f3f4ed;
    padding: 1em;
}

.header-logo {
    font-weight: bold;
    font-size: 1.2em;
}

.detail {
    font-style: italic;
    padding-left: 25%;
    padding-right: 25%;
}

.footer-item {
    margin: 0 6% 0 6%;
}

.footer-break {
    margin: 3em;
}

.info {
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
}

.main-hr {
    width: 50%;
    margin: 1.5em 0 1.5em 25%;
    border: 0;
    height: 2px;
}

.white-section .main-hr {
    background-image: linear-gradient(to right, #310b0b, rgba(0,0,0,0))
}

.red-section .main-hr {
    background-image: linear-gradient(to right, #f3f4ed, rgba(0,0,0,0))
}

.red-section {
    padding: 5%;
    background: #310b0b;
    color: #f3f4ed;
}

.white-section {
    padding: 5%;
    background: #f3f4ed;
    color: #310b0b;
}

.vertical-rule {
    display: inline;
    border-left: 1px solid #f3f4ed;
}

#sketch-holder {
    margin: 0;
}