.slider-vert {
    -webkit-appearance: slider-vertical;
}

.holder {
    display: inline-block;
    font-size: 0px;
}

.controls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

.control-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}