.toolbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: .5rem 0;
}

.controls {
    position: absolute;
    display: flex;
    justify-content:start;
    align-items: stretch;
    transition: .5s;
    max-height: 100%;
}

.content-holder {
    background: rgba(0,0,0,0.95);
    color: var(--white);
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}

.formatting {
    padding: 1rem;
}

.hide {
    max-height: 0;
    transition: .5s;
}