.toolbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

@media only screen and (max-width: 900px) {
    .toolbar {
        gap: 1rem;
    }
} 

.controls {
    position: absolute;
    transition: max-width .5s;
    overflow: hidden;
    max-height: 100%;
    max-width: 25%;
}

@media only screen and (max-width: 900px) {
    .controls {
        max-width: 100%;
    }
}

.content-holder {
    background: rgba(0,0,0,0.95);
    color: var(--white);
    transition: 0.5s;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

.padder {
    max-height: 100%;
    transition: 0.5s;
    pointer-events: none;
}

.formatting {
    padding: 1rem;
}

.hide-horizontal {
    max-height: 0;
    transition: 0.5s;
}

.hide-vertical {
    max-width: 0;
    transition: max-width 0.5s;
}

.notification {
    position: relative;
}