@import "./universal-styles.css";

p {
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-header {
    text-align: center;
  }

.subheader {
  font-size: 1.3rem;
}

.topic-header {
  font-size: 1.3rem;
}

.interactivity {
  max-height: 0;
  overflow: hidden;
}
