@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Lato:wght@300&family=Open+Sans&family=Roboto+Mono&family=Space+Grotesk&display=swap');
@import "./universal-styles.css";

.main-header {
  margin-bottom: 2rem;
}

.subheader {
  font-size: 2rem;
}

.topic-header {
  font-size: 1.5rem;
}

.section-content {
  max-width: clamp(45ch, 50vw, 75ch);
}

.interactivity {
  display: flex;
  justify-content: center;
}
