footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-items: stretch;
  background-color: rgba(255,255,255,.06);
  border-top: 2px solid rgba(255,255,255, 0.08);
}

section {
  margin: 0;
  justify-content: stretch;
  align-items: stretch;
  font-size: .8rem;
  padding: 5px 10px;
  color: rgba(255,255,255, 0.65);
  width: 30%;
}

hr {
  width: 0;
  margin: 1rem 0;
  border-left: 1px solid white;
}

p {
  margin: 5px 0;
}

.left {
  text-align: left;
}

.middle {
  text-align: center;
}

.right {
  text-align: right;
}
